body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.cadastro-funcionario {
    width: 100%;
    background-color: rgb(247, 247, 247);
    height: 160px;
}
.linha-1 {
    width: 100%;
    background-color: rgb(197, 146, 83);
    height: 10px;
}
.main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo {
    float: left;
    padding: 20px;
    width: 20%;
}
.botao-inicio-login ul li {
    margin-left: 20px;
    display: inline-block;
    list-style: none;
    text-align: center;
    
}

.botao-inicio-login {
    color:rgb(0, 0, 0);
    margin-left: 50px;
    float: right;
    width: 55%;
    padding: 50px;
}

.formcadastro{
    padding: 3em 1em 8em 1em;
    background-color:rgb(247, 247, 247);
    height:100%;
    text-align: center;
}

.form{
    background-color:#ffffff;
    justify-content: center;
    width: 100%;
    max-width: 360px;
    padding: 1em 1em 1em 1em;
    margin: 0 auto ;
    flex-direction:column;
    display:flex;
    border: solid #F9FFFD;
    border-radius:5px;
    box-shadow: 0 1px 3px 1px rgba(5, 5, 5, 5);
   
}

label{ 
    text-align:center;
    color:rgb(197, 146, 83);
    flex-direction:column;
    display:flex;  
    padding: 0.5em 0.5em 0.5em 0.5em;
}
.botao-canc-cad ul li {
    margin-left: 20px;
    display: inline-block;
    list-style: none;
    text-align: center;
}
.botao-canc-cad {
    color:rgb(197, 146, 83);
    max-width:80px;
    background-color: white;
}


button{
    color:rgb(197, 146, 83);
    max-width:80px;
    background-color: white;
  
}


h1{
    color:black;
}


